:root {
  --black-color: #000000;
  --white-header-color: #ffffff;
  --red-header-color: #a91e1e;
  --yellow-color: #ebd873;
}

@font-face {
  font-family: "Gaming";
  src: url("../fonts/batmfa__-webfont.woff") format("woff"),
    url("../fonts/batmfa__-webfont.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Gaming';
}

body {
  width: 100%;
  text-align: center;
  font-family: "Gaming";
  overflow-x: hidden;
}

h1 {
  font-weight: 500;
}

i {
  position: relative;
  margin-right: 20px;
  font-size: 1.7vw;
}

i > span {
  position: absolute;
  left: 25px;
  bottom: -10px;
  background-color: var(--red-header-color);
  color: var(--white-header-color);
  border-radius: 50%;
  font-size: 1vw;
  padding: 3px 6px;
}

@keyframes move {
  0% {
    left: 100%;
  }
}

@keyframes dissapearOnScreen {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-1600px);
  }
}

@keyframes appearOnScreen {
  0% {
    transform: scaleX(1400px);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dissapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ------ Header ------ */

.header {
  min-height: 20vh;
  background-color: var(--white-header-color);
}

.moving-header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--black-color);
  min-height: 8vh;
}

.moving-header > h4 {
  position: absolute;
  color: var(--white-header-color);
  font-family: sans-serif;
  position: relative;
  left: -88%;
  animation: move 30s linear infinite;
}

.main-header {
  display: flex;
  min-height: 15vh;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

.header-name {
  display: flex;
  align-items: center;
  margin-right: 250px;
}

.logo {
  max-width: 4vw;
}
.main-navbar {
  display: flex;
  align-items: center;
  min-height: calc(30vh - 8vh - 15vh);
}

.main-navbar > ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-weight: bold;
  list-style: none;
}

.main-navbar > ul > li {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.main-navbar > ul > li:hover {
  border-bottom: 2px solid var(--black-color);
  padding-bottom: 8px;
}

/* ------ Home ------ */

.home > img {
  width: 100%;
  height: 80vh;
}

.home > h2 {
  font-size: 3vw;
  margin: 50px 100px;
  letter-spacing: 5px;
  line-height: 60px;
}

.sections {
  margin: 0 auto;
  min-height: 120vh;
  max-width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 35px;
}

.section {
  position: relative;
  transition: filter 0.15s ease;
}

.section:hover {
  filter: contrast(1.5);
}

.section > img {
  height: 100%;
  width: 100%;
}

.component {
  display: hidden;
  top: 220px;
  letter-spacing: 5px;
  left: 150px;
  position: absolute;
}

.component:hover {
  display: block;
  animation: appear 0.2s ease forwards;
}

.component:not(:hover) {
  animation: dissapear 0.2s ease forwards;
}

.component > h3 {
  font-size: 3vw;
  -webkit-text-stroke: 2px var(--black-color);
  color: var(--yellow-color);
  text-shadow: 0px 1px 1px 0px var(--black-color);
}

.mothers {
  left: 200px;
}

.video-cards {
  left: 140px;
}

.RAM {
  left: 280px;
}

.component-btn {
  font-family: "Gaming";
  background-color: var(--yellow-color);
  border: 3px solid var(--black-color);
  margin-top: 5px;
  padding: 5px 0;
  width: 10vw;
  cursor: pointer;
}

/* ------ Footer ------ */

.footer {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  height: 25vh;
  color: var(--white-header-color);
  background-color: rgb(0, 0, 0);
}

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
}

.social-media-links > i {
  font-size: 35px;
}

/* ------ Shop ------ */

.shop {
  background-color: var(--white-header-color);
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  justify-items: center;
  padding: 25px;
}

.item {
  height: 420px;
  color: var(--white-header-color);
  background-color: var(--black-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.item > h4 {
  text-align: center;
  line-height: 20px;
  padding: 0 20px;
}

.item > img {
  padding: 8px;
  width: 100%;
  height: 200px;
}

.item-price {
  color: var(--yellow-color);
}

.item-buttons {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.item-buttons > .amount-button {
  width: 60px;
  border-radius: 3px;  
  background-color: var(--white-header-color);
  border: 2px solid var(--white-header-color);
}

.add-button {
  margin-top: 15px;
  background-color: var(--yellow-color);
  width: 150px;
  padding: 5px 10px;
}